# Ignore all files in the out directory
out/** linguist-vendored

# Ignore Makefiles
Makefile linguist-vendored
*.mk linguist-vendored

# Ignore CMake files
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
